<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Otus</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/edit.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Task edit page</h1>
            <form id="taskForm" lass="form-horizontal" method="post" action=#>
                <input type="hidden" id="taskId" name="id" th:value="${id}">
                <div class="form-group">
                    <label class="control-label" for="title">title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label class="control-label" for="descr">Description</label>
                    <textarea class="form-control" rows="5" id="descr" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="status">Status</label>
                    <select class="form-control" id="status" name="status">
                        <option th:each="status : ${statuses}"
                                th:value="${status}"
                                th:text="${status}">Wireframe
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="progress">progress</label>
                    <input type="range" id="progress" name="progress" min="0" max="100">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="SAVE">
                    <a href="index.html" class="btn btn-primary" th:href="@{/}">BACK TO TASK LIST</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>