<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Otus</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Task list</h1>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.title}">Spring in Action</td>
                    <td th:text="${task.description}">learn out it all</td>
                    <td th:text="${task.status}">IN PROGRESS</td>
                    <td th:text="${task.progress}">100</td>
                    <td>
                        <a href="edit.html" class="btn btn-primary btn-sm" th:href="@{/edit(taskId=${task.id})}">edit</a>
                    </td>
                    <td>
                    <a href="tasks.html" class="btn btn-danger btn-sm" th:href="@{/delete(taskId=${task.id})}"
                       onclick="return confirm('Delete the task from the list?')">DELETE</a>
                    </td>
                </tr>
            </table>
            <form method="post" action="/edit">
                <input type="hidden" name="taskId" value="">
                <input type="submit" class="btn btn-info btn-primary" value="add new task">
            </form>
        </div>

    </div>
</div>
</body>
</html>